@tailwind base;
@tailwind components;
@tailwind utilities;

*, html {
  box-sizing: border-box;
}

@layer base {
  :root {
    --background-color: #efefef;
    --foreground-color: #101010;
  }

  .dark {
    --background-color: rgb(16, 7, 33);
    --foreground-color: #efefef;
  }
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  transition: all;
  transition-duration: 300ms;
}

.dark body {
  background: linear-gradient(to bottom, rgba(128, 0, 255, 0.2) 0%, rgba(0, 0, 0, 0) 1500px);
  background-color: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.prose {
  max-width: none;
  width: 100%;
}
