@tailwind base;
@tailwind components;
@tailwind utilities;

*, html {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 16, 16, 16;
    --background-start-rgb: 16, 16, 16;
    --background-end-rgb: 16, 16, 16;
  }
}

body {
  position: relative;
  color: #efefef;
  background: rgb(16, 16, 16);
  background: linear-gradient(to bottom, rgb(37, 15, 74) 0%, rgb(16, 7, 33) 1500px);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.prose {
  max-width: none;
  width: 100%;
}